<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
  <title>Welcome!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const emailID = "<%= emailID %>"
    const name = "<%= name %>"
     const teams=<%=teams%>
  </script>
  <link rel='stylesheet' href='assets/css/bootstrap.min.css' type='text/css' media='all' />
  <link rel='stylesheet' href='assets/css/animate.min.css' type='text/css' media='all' />
  <link rel='stylesheet' href='styles.css' type='text/css' media='all' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%2C800%7CMontserrat%3A300italic%2C400italic%2C700italic%2C300%2C400%2C700%7CDosis%3A400%2C700&#038;ver=4.5'
    type='text/css' media='all' />
  <link rel='stylesheet' href='icons/elegantline/style.css' type='text/css' media='all' />
  <link rel='stylesheet' href='assets/css/font-awesome.min.css' type='text/css' media='all' />
  <link rel='stylesheet' href='assets/css/flexslider.css' type='text/css' media='all' />
</head>

<body class="frontpage">

  <!-- Header
================================================== -->
  <header id="header">
    <div id="mega-menu" class="header header2 header-sticky primary-menu icons-no default-skin zoomIn align-right">
      <nav class="navbar navbar-default redq">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbar">
            <a class="mobile-menu-close"><i class="fa fa-close"></i></a>
            <div class="menu-top-menu-container">
              <ul id="menu-top-menu" class="nav navbar-nav nav-list">
                <li style="float:left;"><a>Hello</a></li>
                <li><a href="/changeUserName">Change User Name</a></li>
                <li style="background: rgba(255, 255, 0, 0.51);"><a href="/logout">LogOut</a></li>
              </ul>
            </div>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
      </nav>
    </div>
  </header>

  <!-- INTRO
================================================== -->
  <section id="home" style="padding:160px 0;background-image: url(https://unsplash.it/1324/683?random=0); background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
    <div class="container">
      <div class="textwidget">
        <div class="" style="padding: 5%;margin-bottom: 100px;">
          <div class="contactstyle topform form_left">
            <h3 style="text-align: center;">Create New Team</h3>
            <form method="post" action="/newTeamCreate" >
              <div class="form ">
                <input type="hidden" name="emailID" value="<%= emailID %>">
                <input type="text" name="teamName" placeholder="Enter name of new team..." required>
                <button class="clearfix btn btn-warning btn-block" type="submit">Create Team</button>
              </div>
            </form>
          </div>
          <div class="contactstyle topform form_right">
            <h3 style="text-align: center;">Join a Team</h3>
            <form method="post" action="/newTeamJoin">
              <div class="form ">
                <input type="hidden" name="emailID" value="<%= emailID %>">
                <input type="text" name="teamCode" placeholder="Enter code..." required>
                <button class="clearfix btn btn-warning btn-block" type="submit">Join Team</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="panel-grid" style="background:#141414; padding:3%;">

      <h1 class="toptitle">My Teams <br /><br /><i class="fa fa-star roundicon"></i>
      </h1>
    <div class="nopadding">
      <!-- #person1 -->
        <% let i=0;teams.forEach(function(eachTeam){%>
      <div class="col-md-3" style="background:#141414; padding: 2%;">
        <div class="team-boxes">
          <div class="team-thumb overlay-image view-overlay">
            <img src="https://unsplash.it/600/400?random=<%=i%>" alt="" class="img-responsive">
            <div class="clear">
            </div>
            <div class="mask team_quote">
              <div class="port-zoom-link">
                <p>
                  Invite Code: <%=eachTeam.teamid%>
                </p>
              </div>
            </div>
          </div>
          <div class="team-info">
            <h2><%= eachTeam.teamname%></h2>

          </div>
          <div class="separator">
          </div>
          <p>
            <b>Invite Code:</b> <%=eachTeam.teamid%>
          </p>
          <form method="get" action="/<%=eachTeam.teamid%>">
              <button class="clearfix btn btn-warning btn-block" type="submit">Go to Team!</button>
          </form>
        </div>
      </div>
    </div>
    <% i++;})%>

    <div class="clearfix"></div>
    </div>
  </section>
